{% load teacher_tags %}
<table class="table table-bordered">
    <thead class="bg-info">
        <th width="2%">序号</th>
        <th width="5%">交易时间</th>
        <th width="2%">客户姓名</th>
        <th width="2%">电话</th>
        <th width="5%">买入价格</th>
        <th width="5%">买入数量</th>
        <th width="5%">买入资金</th>
        <th width="5%">盈亏</th>
        <th width="5%">佣金比例</th>
        <th width="5%">应收</th>
        <th width="5%">跟进</th>
    </thead>
    <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ trade.create }}</td>
                <td>{{ trade.customer.name }}</td>
                <td>{{ trade.customer.phone }}</td>
                <td>{{ trade.buyprice }}</td>
                <td>{{ trade.buycount }}</td>
                <td>{{ trade.buycash }}</td>
                <td style="background-color:
                {% if trade.income > 0 %}
                    red
                {% elif trade.income < 0 %}
                    green
                {% endif %}
                ">{{ trade.income }}</td>
                <td>{{ trade.share }}</td>
                <td style="background-color:
                {% if trade.commission > 0 %}
                    red
                {% endif %}
                ">{% if trade.commission < 0 %} 0 {% else %}{{ trade.commission }}{% endif %} </td>
                <td>{{ trade.customer.teacher.teacherId }} {{ trade.customer.teacher.binduser.userprofile.nick }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

