<table class="table table-bordered col-md-12 table-hover">
    <thead class="bg-info">
        <tr>
{#            <td>ID</td>#}
            <td>交易时间</td>
            <td>净入金</td>
            <td>盈亏</td>
            <td>手续费</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
    {% if spotPage %}
    {% for spotObj in spotPage %}
        <tr>
{#            <td>{{ spotObj.id }}</td>#}
            <td>{{ spotObj.create }}</td>
            <td>{{ spotObj.cash}}</td>
            <td>{{ spotObj.profit}}</td>
            <td>{{ spotObj.tax}}</td>
            <td>
                {% if request.user.userprofile.title.role_name == 'spotteacher' %}
                <button type="button" class="btn btn-sm btn-primary" onclick="handleSpot(this)"
                    data-hsid="{{ spotObj.id }}"
                    data-hstype="{{ spotObj.type }}"
                    data-hscreate="{{ spotObj.create }}"
                    data-hsprofit="{{ spotObj.profit }}"
                    data-hstax="{{ spotObj.tax }}"
                    data-hscash="{{ spotObj.cash }}"
                    data-hscustomerid="{{ spotObj.customer.id }}"
                >修改</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    {% else %}
         <tr><td colspan="5">无交易信息</td></tr>
    {% endif %}
        <tr style="color:red">
            <td>合计</td>
            <td>{{ cashTotal }}</td>
            <td>{{ profitTotal }}</td>
            <td>{{ taxTotal }}</td>
            <td></td>
        </tr>
        <tr style="color:red">
            <td></td>
            <td></td>
            <td>剩余</td>
            <td>{{ sumTotal }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<nav class="navbar-right">
  <ul class="pagination">
    <li>
        {% if tradePage.has_previous %}
            <span aria-hidden="true" onclick="loadTradeDiv('page={{ tradePage.previous_page_number }}&{{ requestArgs }}')">&laquo;</span>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ tradePage.number }}/{{ tradePage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if tradePage.has_next %}
            <span aria-hidden="true" onclick="loadTradeDiv('page={{ tradePage.next_page_number }}&{{ requestArgs }}')">&raquo;</span>
        {% endif %}
    </li>
  </ul>
</nav>