
   {% extends 'base.html' %}
   {% block title %}职位列表{% endblock %}
   {% block content %}
    it's my demo page
<head>
    <title></title>
    <script type="text/jscript">
        function go() {
            var frag = document.createDocumentFragment();
            var options = $("#ddl")
            for (var i = 0; i < 10000; i++) {
                var option = new Option("text" + i, "value" + i);
                option.innerText = "text" + i;
                frag.appendChild(option);
            }
            options.append(frag);
        }

        $(document).ready(function () {
            go();
        })
    </script>
</head>
<body>
    <select id="ddl">
        <option value="a">123</option>
    </select>
    <input type="button" value="click me" onclick="alert($('#ddl').val())"/>
</body>
{#</html>#}
{# <form enctype="multipart/form-data">#}
{#<form id="addTradeForm" method="post" class="form-horizontal">#}
{#    <div class="form-group">#}
{#        <label class="col-md-offset-2 col-md-2 control-label" for="file">交割单上传</label>#}
{#        <div class="form-inline col-md-4">#}
{#             <input name="file" type="file"  class="btn btn-sm btn-default" required/>#}
{#        </div>#}
{#        <div class="form-inline col-md-4">#}
{#            <button type="button" class="btn btn-sm btn-primary" id="uploadLogo">上传</button>#}
{#        </div>#}
{#    </div>#}
{#</form>#}
   {% endblock %}

