{% extends 'base_full_noheader.html' %}
{% block title %}收款汇总明细{% endblock %}
{% block content %}
<br/>
<h1>
    <div class="alert alert-success" style="text-align:center">
        收款汇总明细表
    </div>
</h1>
    <form id="searchKpiForm" method="POST" class="form-horizontal " action="#">
    <div class="form-group">
        <label class="col-md-1 control-label">财务专员</label>
        <div class="col-md-1 " style="width: 150px">
            <select type="select" class="form-control" id="bursarID" name="bursarID">
                <option></option>
                {% for bursarObj in bursars %}
                    <option value={{ bursarObj.bursarId}}>{{ bursarObj.bursarId }} {{ bursarObj.binduser.userprofile.nick }}</option>
                {% endfor %}
            </select>
        </div>
        <label class=" col-md-1 control-label" style="width: 150px">时间范围</label>
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" style="width: 150px" value="{{ startDate }}" name="startDate" id="startDate"
             title="起始时间"/>
        </div>
{#        <label class="col-md-1 control-label"></label>#}
        <div class="col-md-2 ">
             <input type="date"  class="form-control datetime" style="width: 150px" value="{{ endDate }}" name="endDate" id="endDate"
             title="结束时间"/>
        </div>
        <label class="col-md-1 control-label">公司</label>
        <div class="col-md-1 ">
           <select type="select" class="form-control" id="company" name="company">
               <option></option>
                <option value="A" {% if company == 'A' %}selected{%endif%}>A</option>
                <option value="B" {% if company == 'B' %}selected{%endif%}>B</option>
                <option value="C" {% if company == 'C' %}selected{%endif%}>C</option>
                <option value="D" {% if company == 'D' %}selected{%endif%}>D</option>
                <option value="E" {% if company == 'E' %}selected{%endif%}>E</option>
                <option value="F" {% if company == 'F' %}selected{%endif%}>F</option>
                <option value="F" {% if company == 'G' %}selected{%endif%}>G</option>
                <option value="H" {% if company == 'H' %}selected{%endif%}>H</option>
            </select>
        </div>
        <label class="col-md-1 control-label"></label>
        <div class="col-md-2">
                <button type="submit" class="btn btn-sm btn-primary" >搜索</button>
        </div>
    </div>
</form>
<hr/>

<table class="table table-bordered">
    <thead class="bg-info">
        <th width="2%">序号</th>
        <th width="5%">汇款时间</th>
{#        <th width="5%">客户来源公司</th>#}
        <th width="5%">客户姓名</th>
{#        <th width="5%">客户管理专员</th>#}
        <th width="5%">电话</th>
        <th width="5%">产品代码/名称</th>
        <th width="5%">金额</th>
        <th width="5%">支付方式</th>
        <th width="5%">客户管理ID</th>
        <th width="5%">客户管理专员</th>
        {% if request.user.userprofile.title.role_name == 'teacher' %}
        <th width="5%">收款专员</th>
        {% else %}
{#        <th width="5%">客户开发专员</th>#}
         <th width="5%">开发ID</th>
         <th width="5%">开发专员</th>
        {% endif %}
    </thead>
    <tbody>
        <tr style="color:red">
            <td></td>
            <td></td>
            <td></td>
            <td>合计</td>
            <td></td>
            <td>{{ payCashTotal }}
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% if tradePage %}
    {% for tradeObj in tradePage %}
     <tr class="trade_row" id="trade_row_{{ tradeObj.id }}">
          <td>{{ forloop.counter }}</td>
          <td>{{ tradeObj.paytime }}</td>
          <td>{{ tradeObj.customer.name }}</td>
          <td>{{ tradeObj.customer.phone }} </td>
          <td>{{ tradeObj.stock.stockid }}/{{ tradeObj.stock.stockname }}</td>
          <td>{{ tradeObj.paycash }} </td>
          <td>{{ tradeObj.paytype }} </td>
          <td>{{ tradeObj.customer.teacher.teacherId }} </td>
{#          <td>{{ tradeObj.customer.teacher.binduser.userprofile.nick }}</td>#}
         <td>{{ tradeObj.realteacheruser.userprofile.nick }}</td>
          {% if request.user.userprofile.title.role_name == 'teacher' %}
                <td>{{ tradeObj.customer.bursar.bursarId }} {{ tradeObj.customer.bursar.binduser.userprofile.nick }}</td>
          {% else %}
                <td>{{ tradeObj.customer.sales.saleId }} </td>
                <td>{{ tradeObj.customer.realuser.userprofile.nick }}</td>
          {% endif %}
     </tr>
       {% empty %}
        <tr><td colspan="9">无收款信息</td></tr>
    {% endfor %}
    {% endif %}

{#        <tr style="color:red">#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td>合计</td>#}
{#            <td></td>#}
{#            <td>{{ payCashTotal }}#}
{#            <td></td>#}
{#            <td></td>#}
{#            <td></td>#}
{#        </tr>#}
    </tbody>
</table>


<nav class="navbar-right">
  <ul class="pagination">
    <li>
        {% if tradePage.has_previous %}
{#            <span aria-hidden="true" onclick="loadTradeDiv('page={{ tradePage.previous_page_number }}&{{ requestArgs }}')">&laquo;</span>#}
{#            <span aria-hidden="true">#}
{#                <a href="?page={{ tradePage.previous_page_number }}&{{ requestArgs }}">&laquo;</a>#}
{#                <a href="?page={{ tradePage.previous_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}">&laquo;</a>#}
{#            </span>#}
            <a href="?page={{ tradePage.previous_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}&bursarID={{ bursarID }}&company={{ company }}"><span aria-hidden="true">&laquo;</span></a>
        {% endif %}
    </li>
    <li><span class="current">
           第{{ tradePage.number }}/{{ tradePage.paginator.num_pages }}页
        </span></li>
    <li>
        {% if tradePage.has_next %}
             <a href="?page={{ tradePage.next_page_number }}&startDate={{ startDate }}&endDate={{ endDate }}&bursarID={{ bursarID }}&company={{ company }}"><span aria-hidden="true">&raquo; </span></a>
        {% endif %}
    </li>
  </ul>
</nav>
{% endblock %}